@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v17-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v17-latin-700.woff2') format('woff2'),
    url('../fonts/play-v17-latin-700.woff') format('woff');
}

:root {
  --color-brand: #2b7fff;
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-secondary-dark: #000000;
  --color-minor-dark: #4a4a4a;
  --color-minor-dark-light: #747272;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

address {
  font-style: normal;
}

/* Link */
.header-link {
  color: var(--color-primary-dark);
  font-size: 18px;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-contact-menu {
  display: flex;
  gap: 42px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.header-icon {
  fill: var(--color-primary-dark);
}

/* Hero section */
.hero-section {
  padding-top: 160px;
  padding-bottom: 270px;
  padding-left: 244px;
  background-image: url('../images/header_background_image.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-brand);
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
  line-height: 1;
  text-transform: capitalize;
}

.hero-suptitle {
  color: var(--color-primary-dark);
  font-size: 18px;
}

.hero-advice-paragraph {
  color: var(--color-minor-dark);
  font-size: 12px;
  line-height: 1.5;
}

/* Button */
.button {
  padding: 16px 32px;
  margin-top: 40px;
  margin-bottom: 14px;
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 500;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

/* Transformation section */
.transformation-container {
  display: flex;
  justify-content: space-between;
}

.transformation-content {
  max-width: 710px;
  justify-content: space-between;
}

.transformation-section {
  padding-top: 0px;
  padding-bottom: 176px;
  margin-top: 40px;
}

.primary-section-title {
  margin-bottom: 40px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
}

.primary-section-title .accent {
  color: var(--color-brand);
}

.section-title {
  margin-bottom: 48px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand);
}

.transformation-text {
  display: flex;
  flex-direction: column;
}

.transformation-paragraph {
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 1.7;
}

.transformation-paragraph:last-child {
  margin-bottom: 0;
}

.transformation-image {
  border-radius: 65%;
}

/* Advantages section */
.advantages-list {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-dark);
  font-size: 18px;
  text-align: center;
}

.advantages-icon {
  fill: var(--color-brand);
}

/* Procedures section */
.procedure-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedure-card {
  height: 456px;
  padding: 372px 77px 32px 115px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  border-radius: 120px 4px;
}

.procedure-text {
  color: var(--color-primary-light);
  font-size: 22px;
}

.procedure-text p {
  margin-bottom: 0px;
}

/* Carousel-button */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-brand);
  fill: var(--color-primary-light);
}

/* Contacts-section */
.contact-container {
  display: flex;
  gap: 32px;
}

.contact-section {
  padding-bottom: 94px;
}

.contact-suptitle {
  color: var(--color-primary-light);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
}

.contact-suptitle .accent {
  color: var(--color-brand);
}

.contact-map {
  flex-shrink: 0;
  border-radius: 32px;
}

/* Footer */
.footer-section {
  padding: 56px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-section {
  background-color: var(--color-primary-dark);
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.footer-web-menu {
  display: flex;
  gap: 38px;
  align-items: center;
}

.footer-icon {
  fill: var(--color-primary-light);
}

.address-copyright {
  color: var(--color-minor-dark-light);
  font-size: 13px;
}
